[submodule "HarmonyClient"]
	path = HarmonyClient
	url = https://github.com/SamTheDevDE/HarmonyClient
[submodule "HarmonyServer"]
	path = HarmonyServer
	url = https://github.com/SamTheDevDE/HarmonyServer
